body {
  color: white;
  background-color: blue;
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed"),
    url("./fonts/robotocondensed.bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "NATS";
  src: local("NATS"), url("./fonts/nats.regular.ttf") format("truetype");
  font-weight: regular;
}
